POSTGRES_DB=frae_db
POSTGRES_USER=frae_user
POSTGRES_PASSWORD=change-this-password

MINIO_ROOT_USER=frae_minio
MINIO_ROOT_PASSWORD=change-this-minio-password

APP_URL=https://frae-api.cojimozy.com
FRONTEND_URL=https://frae.cojimozy.com
CORS_ALLOWED_ORIGINS=https://frae.cojimozy.com
SANCTUM_STATEFUL_DOMAINS=frae.cojimozy.com

NEXT_PUBLIC_API_URL=https://frae-api.cojimozy.com/api
API_INTERNAL_URL=https://frae-api.cojimozy.com/api
