# OS
.DS_Store

# Env
.env
.env.*
!.env.example

# Node
node_modules
.next
out
dist

# Laravel
/vendor
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*.log
/bootstrap/cache/*.php

# Docker
docker/postgres/data
docker/minio/data

# IDE
.idea
.vscode